
# ------------------------------------------------------------------------------
# Общее для всего проекта
# ------------------------------------------------------------------------------
Build/
cmakefiles_*/
*\.pyc
*\.egg-info/
dist/
__pycache__/
\.idea/
